/* purgecss start ignore */
.btn {
  @apply inline-flex items-center px-8 py-3 text-lg font-bold leading-none rounded-full border-1;

  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;

  &::after,
  &::before {
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }

  &--prev {
    @apply pl-6;
    @mixin icon-before chevron-left;

    &::before {
      @apply flex-shrink-0 mr-1;
    }
  }

  &--prev:hover::before {
    transform: translateX(-25%);
  }

  &--ext {
    @apply pr-6;
    @mixin icon chevron-right;

    &::after {
      @apply flex-shrink-0 ml-1;
    }
  }

  &--ext:hover::after {
    transform: translateX(30%);
  }

  &--primary {
    @apply text-white no-underline bg-primary border-primary;

    &:hover {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-primary;

      &:hover {
        @apply text-white no-underline bg-primary-hover border-primary-hover;
      }
    }
  }

  &--secondary {
    @apply text-white no-underline bg-secondary border-secondary;

    &:hover {
      @apply text-white no-underline bg-secondary-hover border-secondary-hover;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-secondary;

      &:hover {
        @apply text-white no-underline bg-secondary-hover border-secondary-hover;
      }
    }
  }

  &--tertiary {
    @apply text-white no-underline bg-tertiary border-tertiary;

    &:hover {
      @apply text-white no-underline bg-tertiary-hover border-tertiary-hover;
    }
  }

  &--ghost {
    @apply text-black no-underline font-semibold bg-transparent border-primary;

    &:hover {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-secondary {
      @apply text-black no-underline bg-transparent border-secondary;

      &:hover {
        @apply text-white no-underline bg-secondary-hover border-secondary-hover;
      }
    }

    &-inverse {
      @apply text-white no-underline bg-transparent border-white;

      &:hover {
        @apply no-underline bg-white text-primary-hover;
      }

      &-secondary {
        @apply text-white no-underline bg-transparent border-white;

        &:hover {
          @apply no-underline bg-white text-secondary-hover;
        }
      }
    }
  }

  &--link {
    @apply text-black underline bg-transparent border-transparent;

    &::after {
      @apply text-primary;
    }

    &:hover {
      @apply text-primary-hover;

      &::after {
        @apply text-primary-hover;
      }
    }

    &-inverse {
      @apply text-white underline bg-transparent border-transparent;

      &::after {
        @apply text-white;
      }
      &:hover {
        @apply no-underline;
      }
    }
  }
}
/* purgecss end ignore */
