/* purgecss start ignore */
.link {
  @apply inline-flex font-semibold text-black underline;

  &:hover {
    @apply no-underline text-primary-hover;
  }

  &--prev {
    @apply items-center font-normal;
    @mixin icon-before chevron-left;

    &::after {
      @apply inline-flex mr-1;
    }

    &:hover::after {
      @apply text-primary-hover;
    }
  }

  &--ext {
    @apply font-semibold items-center;
    @mixin icon chevron-right;

    &::after {
      @apply inline-flex ml-1 text-primary;
    }

    &:hover::after {
      @apply text-primary-hover;
    }
  }

  &--extended::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--inverse {
    @apply inline-flex font-bold text-white underline;

    &:hover {
      @apply no-underline;

      &::after {
        @apply ml-1 text-white;
      }
    }

    &::after {
      @apply ml-1 text-white;
    }
  }
}
/* purgecss end ignore */
