@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
